<main id="activities" class="container">

	<p class="intro">
		<%= Settings.tagline.html_safe %>
	</p>

	<section class="row">
		<div id="filters" class="col-sm-4">
			<div class="filter">
				<h4>What?</h4>
				<ul class="list-group">
					<% Settings.what_filters.each do |slug, what_obj| %>
						<li class="list-group-item">
							<span class="badge">0</span>
							<a href="<%= slug %>"><%= what_obj.label %></a>
						</li>
					<% end %>
				</ul>
			</div>
			<div class="filter">
				<h4>When?</h4>
				<ul class="list-group">
					<li class="list-group-item">
						<span class="badge">0</span>
						<a href="#">Today</a>
					</li>
					<li class="list-group-item">
						<span class="badge">0</span>
						<a href="#">Tonight</a>
					</li>
					<li class="list-group-item">
						<span class="badge">0</span>
						<a href="#">Tomorrow</a>
					</li>
					<li class="list-group-item">
						<span class="badge">0</span>
						<a href="#">This weekend</a>
					</li>
					<li class="list-group-item">
						<span class="badge">0</span>
						<a href="#">Next week</a>
					</li>
				</ul>
			</div>
			<div class="filter">
				<h4>Where?</h4>
				<ul class="list-group">
					<% Settings.where_filters.each do |slug, what_obj| %>
						<li class="list-group-item">
							<span class="badge">0</span>
							<a href="<%= slug %>"><%= what_obj.label %></a>
						</li>
					<% end %>
				</ul>
			</div>
		</div>
		<div id="activitylist" class="col-sm-8">
			<div class="slice">
				<h5>Today</h5>
				<ul class="list-group">
					<li class="list-group-item">
						<p>2.15pm</p>
						<p>Picnicing and having fun</p>
						<p>Golden Gate Park</p>
					</li>
					<li class="list-group-item">
						<p>2.15pm</p>
						<p>Picnicing and having fun</p>
						<p>Golden Gate Park</p>
					</li>
					<li class="list-group-item">
						<p>2.15pm</p>
						<p>Picnicing and having fun</p>
						<p>Golden Gate Park</p>
					</li>
					<li class="list-group-item">
						<p>2.15pm</p>
						<p>Picnicing and having fun</p>
						<p>Golden Gate Park</p>
					</li>
					<li class="list-group-item">
						<p>2.15pm</p>
						<p>Picnicing and having fun</p>
						<p>Golden Gate Park</p>
					</li>
					<li class="list-group-item">
						<p>2.15pm</p>
						<p>Picnicing and having fun</p>
						<p>Golden Gate Park</p>
					</li>
				</ul>
				<h5>Tonight</h5>
				<ul class="list-group">
					<li class="list-group-item">
						<p>2.15pm</p>
						<p>Picnicing and having fun</p>
						<p>Golden Gate Park</p>
					</li>
					<li class="list-group-item">
						<p>2.15pm</p>
						<p>Picnicing and having fun</p>
						<p>Golden Gate Park</p>
					</li>
					<li class="list-group-item">
						<p>2.15pm</p>
						<p>Picnicing and having fun</p>
						<p>Golden Gate Park</p>
					</li>
					<li class="list-group-item">
						<p>2.15pm</p>
						<p>Picnicing and having fun</p>
						<p>Golden Gate Park</p>
					</li>
					<li class="list-group-item">
						<p>2.15pm</p>
						<p>Picnicing and having fun</p>
						<p>Golden Gate Park</p>
					</li>
					<li class="list-group-item">
						<p>2.15pm</p>
						<p>Picnicing and having fun</p>
						<p>Golden Gate Park</p>
					</li>
				</ul>
				<h5>Tomorrow</h5>
				<ul class="list-group">
					<li class="list-group-item">
						<p>2.15pm</p>
						<p>Picnicing and having fun</p>
						<p>Golden Gate Park</p>
					</li>
					<li class="list-group-item">
						<p>2.15pm</p>
						<p>Picnicing and having fun</p>
						<p>Golden Gate Park</p>
					</li>
					<li class="list-group-item">
						<p>2.15pm</p>
						<p>Picnicing and having fun</p>
						<p>Golden Gate Park</p>
					</li>
					<li class="list-group-item">
						<p>2.15pm</p>
						<p>Picnicing and having fun</p>
						<p>Golden Gate Park</p>
					</li>
					<li class="list-group-item">
						<p>2.15pm</p>
						<p>Picnicing and having fun</p>
						<p>Golden Gate Park</p>
					</li>
					<li class="list-group-item">
						<p>2.15pm</p>
						<p>Picnicing and having fun</p>
						<p>Golden Gate Park</p>
					</li>
				</ul>
			</div>
		</div>
	</section>
</main>