<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @activity.title %>
</p>

<p>
  <strong>Datetime:</strong>
  <%= @activity.datetime %>
</p>

<p>
  <strong>Place:</strong>
  <%= @activity.place %>
</p>

<%= link_to 'Edit', edit_activity_path(@activity) %> |
<%= link_to 'Back', activities_path %>
